body {
    background-color: darkslategray;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    background-attachment: fixed;
    
}
.tlo {
    background-color: rgb(136, 136, 136);
    border: none;
    margin-bottom: 50px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.tlo .menu {
    margin-bottom: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.srodek {
    position: relative;
}

.srodek .nwn {
    border: 2px solid rgb(102, 102, 102);
    margin: 5px;
    border-radius: 12px;
}
.uwu {
    margin-left: 10%;
    margin-right: 10%;
}
article {
    position: relative;
}
/* przyciski */
.btn {
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    font-family: 'Anton', Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
.btn:hover {opacity: 1}
.bamboozle {
    background-color: white; 
    border: 2px solid gray;
}
.bamboozle:hover {
    background-color: darkgray;
}
.info {
    background-color: white; 
    border: 2px solid gray;
}
.info:hover {
    background-color: darkgray;
}
.pies {
    background-color: white; 
    border: 2px solid gray;
}
.pies:hover {
    background-color: darkgray;
}
.vape {
    background-color: white; 
    border: 2px solid gray;
}
.vape:hover {
    background-color: darkgray;
}
.rape {
    background-color: white; 
    border: 2px solid gray;
}
.rape:hover {
    background-color: darkgray;
}
.nut {
    background-color: white; 
    border: 2px solid gray;
}
.nut:hover {
    background-color: darkgray;
}
.shobb {
    background-color: white; 
    border: 2px solid gray;
}
.shobb:hover {
    background-color: darkgray;
}
.nani {
    background-color: white; 
    border: 2px solid gray;
}
.nani:hover {
    background-color: rgb(255, 0, 0);
}
.btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span:after {
    content: '?!?!';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 30px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}
.git {
    background-color: white; 
    border: 2px solid gray;
}
.git:hover {
    background-color: darkgray;
}
/**/
.s {
    font-size: 10px;
    font-style: italic;
}
.owo {
    color: rgb(89, 0, 255); 
    font-weight: bold; 
    text-shadow: 1px 1px 9px rgb(39, 109, 255);
    font-size: 30px;
}
.foot {
    font-size: 15px;
    font-style: italic;
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 5px;
}
.shiba1 {
    font-weight: 800;
    color: blueviolet;
    font-size: 4em;
}
.frag {
    font-size: 2em;
    font-weight: 700;
}
.renard {
    z-index: -200;
}
